@model Product

@{
    ViewData["Title"] = "Delete Product";
}

<h3>@ViewData["Title"]</h3>
<hr />

<form asp-action="Delete">

    <div class="container">
        <input type="hidden" asp-for="ProductId" />
        <div class="mb-2">
            <label asp-for="ProductName" class="contol-lable"></label>
            <input asp-for="ProductName" class="form-control" readonly/>
        </div>
        <div class="mb-2">
            <label asp-for="Price" class="contol-lable"></label>
            <input asp-for="Price" class="form-control" readonly />
        </div>
        <div class="mb-2">
            <label asp-for="Qty" class="contol-lable"></label>
            <input asp-for="Qty" class="form-control" readonly />
        </div>
        <div class="mb-2">
            <label class="control-label">Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories" disabled>
                <option>-Select Category --</option>
            </select>
        </div>

        <div>
            <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
        </div>
    </div>

</form>